<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.yuting.trojannow" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".comment.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".message.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".sensor.SensorActivity"
            android:label="@string/title_activity_sensor" >
        </activity>
        <activity
            android:name=".status.StatusActivity"
            android:label="@string/title_activity_status" >
        </activity>
        <activity
            android:name=".voting.VotingActivity"
            android:label="@string/title_activity_voting" >
        </activity>
        <activity
            android:name=".usermgmt.UserManagementActivity"
            android:label="@string/title_activity_user_management" >
        </activity>
        <activity
            android:name=".status.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".status.CreateStatusActivity"
            android:label="@string/title_activity_create_status" >
        </activity>
    </application>

</manifest>
